<nav>
    <div class="navig">
        <ul>
            <li><a href="/homepage"><h3>HOME</h3></a></li>                
            <li><a href="/menu"><h3>Menu</h3></a></li>
            <li><a href="/cart"><h3>Cart</h3></a></li>
            <li><a href="/user"><h3>Profile</h3></a></li>
            <li><a href="/login"><h3>Sign Out</h3></a></li>
        </ul>
    </div>
</nav>