<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylehome.css">
    <title>Document</title>

</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <header class="top">
        <h2 class="resname">DELIGHT DELICIOUS</h2>
        
    </header>
    <div class="invisible">YOU are ON top</div>
    <h1>ERROR</h1>
    <%- include('./partials/footer.ejs') %>
</body>
</html>